@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Langar&family=Lilita+One&display=swap');


* {
    margin: 0px;
    padding: 0px;
    --color1: #FCC737;
    --color2: #E73879;
    --color3: #F26B0F;
    --color4: #7ED778;
    --color5: #E0E0E0;
    --color6: #D8E645;
    
}

body {
    display: grid;
    place-items: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.infowindow {
    position: absolute;
    top: -200px;
    width: 500px;
    height: 200px;
    background: var(--color3);
    border-radius: 6px;
    outline: solid var(--color1) 1px;
    display: grid;
    place-items: center;
    align-items: center;
    font-family: "Lilita One", sans-serif;
}

.infowindow > h1 {
    color: var(--color5);
    font-size: 3.2rem;
}

.infowindow > button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 4px;
    font-size: 1.3rem;
    color: white;
    background: rgb(18, 94, 49);
    transition: 50ms ease-in;
    font-family: "Langar", system-ui;
    letter-spacing: 2px;
}

.infowindow > button:hover {
    background: rgba(18, 94, 48, 0.816);
    color: white;
}

.anim3 {
    animation: anim4 200ms ease-in forwards;
}

@keyframes anim4{
    from {
        top: -50vh;
    } to {
        top: 40vh;
    }
}

@media  screen and (max-width: 700px) {

    .anim3 {
        animation: anim5 200ms ease-in forwards;
    }

    @keyframes anim5{
        from {
            top: -40vh;
        } to {
            top: 40vh;
        }
    }

    .infowindow {
        max-width: 80%;
    }

    .infowindow > h1 {
        font-size: 2.5rem;
    }

}